<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Webpack with web components</title>
</head>
<body>
    <h1>Webpack with web components</h1>
    <paper-input></paper-input>
</body>
</html>